<footer class="footer-distributed">

    <div class="footer-left">

        <img src="img/logo.png">

        <p class="footer-links">
            <a ui-sref="acceuil">Accueil</a>
            ·
            <a ui-sref="a-propos">A propos</a>
            ·
            <a ui-sref="nos-services">Services</a>
            ·
            <a ui-sref="contact">Contact</a>
        </p>


    </div>

    <div class="footer-center">

        <div>
            <i class="glyphicon glyphicon-map-marker"></i>
            <p><span>2 Résidence le clos des vignes </span> 27940 Le Val d'Hazey, France</p>
        </div>

        <div>
            <i class="glyphicon glyphicon-earphone"></i>
            <p>+33 782 417 176</p>
        </div>

        <div>
            <i class="glyphicon glyphicon-envelope"></i>
            <p><a href="mailto:contact@albasoft.fr">contact@albasoft.fr</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>Albasoft en bref</span>
            Une société française spécialisée dans le conseil en systèmes et logiciels informatiques. En régie ou au forfait, ALBASOFT mène des missions à grande valeur ajoutée pour ses clients.
        </p>

        <div class="footer-icons">
            <a href="https://www.facebook.com/albasoftit/"><img src="img/fb-circ2.png"></a>
            <a href="#"><img src="img/social_twitter3.png"></a>
            <a href="#"><img src="img/Google_Plus1.png"></a>

        </div>

    </div>
    <p class="footer-company-name">&copy Albasoft 2016</p>
</footer>

<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>