
<header class="navbar-fixed-top" style="position: relative">
    <div class="top_bar">
        <div class="container">
            <div class="col-md-6">
                <h4 class="social titre">Albasoft Consulting</h4>
                <!--<ul class="social">-->
                <!--<li>Albasoft Consulting</li>-->
                <!--&lt;!&ndash;<li><a target="_blank" href="https://webenlance.com"><i class="fa fa-twitter text-white"></i></a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a target="_blank" href="http://webenlance.com"><i class="fa fa-instagram text-white"></i></a></li>&ndash;&gt;-->
                <!--</ul>-->
            </div>

            <div class="col-md-6">
                <ul class="rightc">
                    <li><i class="glyphicon glyphicon-globe"></i><a href="http://sn.albasoft.fr" target="_blank">  site albasoft Sénégal</a> </li>
                    <li><i class="glyphicon glyphicon-envelope"></i> contact@albasoft.fr</li>
                    <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i> +33 782 417 176</li>
                </ul>
            </div>
        </div>
    </div>
    <!--top_bar-->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               <a class="navbar-brand  hidden-xs" href="#"><img src="img/logo.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main-menu">

                <ul class="menu nav navbar-nav navbar-right" id="ID_plugin_305241">
                    <li ng-class="acceuil">
                        <a ui-sref="acceuil" title="Accueil"><span class="css-property-item">Accueil</span></a><span class="menu-after"></span>
                    </li>
                    <li ng-class="apropos">
                        <a ui-sref="a-propos" title="A propos"><span class="css-property-item">A propos</span></a><span class="menu-after"></span>
                    </li>
                    <li ng-class="service">
                        <a ui-sref="nos-services" title="Nos services"><span class="css-property-item">Nos services</span></a><span class="menu-after">
                        </span>
                    </li>
                    <li ng-class="contact">
                        <a ui-sref="contact" title="Contact"><span class="css-property-item">Contact</span></a><span class="menu-after"></span>
                    </li>
                </ul>
                <!--<ul class="menu nav navbar-nav navbar-right">-->
                <!--<li ng-class="acceuil"><a ui-sref="acceuil">Accueil</a></li>-->
                <!--<li ng-class="apropos">-->
                <!--<a ui-sref="a-propos">A propos</a>-->
                <!--</li>-->
                <!--<li ng-class="service"><a ui-sref="nos-services">Nos services</a></li>-->
                <!--<li ng-class="contact"><a ui-sref="contact">Contact</a></li>-->
                <!--</ul>-->

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

</header>